/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

#logo {
    background-image: url("https://res.cloudinary.com/diwwqfwjb/image/upload/v1740752257/Nath/fx93zdojlzn8jhopak5p.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 100px; 
    border-radius: 20px;
    display: block;
    margin: 20px auto; 
}


#loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #F1C472;
}

.container {
    background: #F59331;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#errorMessage {
    display: none;
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

a {
    color: #FF8000;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 12px;
    background: #FF8000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #e76f00;
}

.crtAcct {
    display: block;
    margin-top: 15px;
    font-size: 14px;
}
