#navigation {
    width: auto;
}

.sidebar {
    position: fixed;
    width: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 10px; 
    
    
}

.sidebar a {
    text-decoration: none;
    margin: 20px 0;
    font-size: 24px;
    opacity: 0.5;
    
}

.sidebar a.active {
    opacity: 1;
    
}

.icon {
    display: block;
    width: 40px;
    height: 40px;
}

.home-icon {
    background-image: url('../icons/navSvg/home-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    
}

.explore-icon {
    background-image: url('../icons/navSvg/search-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
   
}
.post-icon {
    background-image: url('../icons/navSvg/plus-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.create-icon {
    background-image: url('../icons/navSvg/comment-add-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


.notification-icon {
    background-image: url('../icons/navSvg/heart-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile-icon {
    background-image: url('../icons/navSvg/user-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.logout-icon{
    background-image: url('../icons/navSvg/logout-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    left: 25px;
    bottom: 20px;
    z-index: 1;
    cursor: pointer;
    
}

#nav-text {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    

    .sidebar {
        width: 100%; 
        height: 50px; 
        background-color: #8E7152;
        justify-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        flex-direction: row; 
        justify-content: space-evenly; 
        padding: 0 10px;
    }

    .sidebar a {
        flex-basis: 20%; /* Distribute links into 5 equal columns */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar a .icon {
        width: 30px;
        height: 30px; 
        padding: 10px;
    }

    
    .post-icon{
        display:flex;
        
    }
    .logout-icon{
        display:none;
    }
}