*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(to bottom, #060B61 20%, #B700FF 80%);
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}


#main{
    margin: 0 auto;
    width: 900px;
    height: auto;
}



#logintext {
    font-family: "Judson", serif;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    color: #B700FF;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: 0px 2px 4px #B00205;
}

#header-container {
    position: absolute;
    padding:20px;
    top: 10px;
    left: 20px;
    width:100%;
}
#headtextsignup {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFEA00;
    text-shadow: 0px 5px 4px #FF7700;
    font-size: 20px;
    margin-left: 550px;
}

#container.dark-mode #main,
#container.dark-mode .home-container {
    background-color: #1e1e1e; /* Ensure all nested elements match the dark theme */
}

#container #main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 600px){
    body{
        overflow: revert;
    }
    #main{
        margin-top:0;
    }
    #container{
        border:none;
    }
   
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 30px;
    }
    
    #lastdraw-container, #loginPage {
        width: 100%;
    }
}