*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(to right, #060B61 20%, #8A00E0 50%, #B700FF 80%);


    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}


#main{
    margin: 0 auto;
    width: 900px;
    height: auto;
}




#container #main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 600px){
    body{
        overflow: revert;
    }
    #main{
        margin-top:0;
    }
    #container{
        border:none;
    }
}