*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(135deg, #FF8000, #F1C472);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


body.dark-mode {
    background-color: #121212; /* Dark background */
    color: white; /* Light text color */
}



#header.dark-mode {
    background: #1f1f1f; /* Dark header background */
}

#darkmode.dark-mode {
    filter: invert(1); /* Invert moon icon for better visibility in dark mode */
}

#main{
    margin: 0 auto;
    background-color: #F7EED3;
    width: 900px;
    height: auto;
    margin-top: 60px;
}



#container.dark-mode {
    background-color: #1e1e1e;
}

#container.dark-mode #main,
#container.dark-mode .home-container {
    background-color: #1e1e1e; /* Ensure all nested elements match the dark theme */
}

#container #main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 600px){
    body{
        overflow: revert;
    }
    #main{
        margin-top:0;
    }
    #container{
        border:none;
    }
}