
/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

.custom-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../icons/background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#icon {
    margin-right: 550px;
}

#logintext {
    font-family: "Judson", serif;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    color: #B700FF;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: 0px 2px 4px #B00205;
}

#header-container {
    position: absolute;
    top: 10px;
    left: 20px;
}

#headtext {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    color: #FF00C4;
    font-size: 20px;
}

#loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 75px;
    height: 80vh;
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px #B700FF, 0 0 5px #B700FF;
    border-radius: 50px;
    background-color: rgba(40, 24, 134, 0.9);
    transition: all 0.3s ease-in-out;
}

.ball-container {
    background-color: rgba(40, 24, 134, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#time {
    font-size: 20px;
    font-weight: bold;
    color: #FF00FF;
    text-align: left;
    margin-bottom: 10px;
}

#prize-box {
    background: navy;
    color: yellow;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
    width: 300px; 
    font-size: 22px;
    box-shadow: 0px 4px 10px rgba(255, 255, 0, 0.7);
    text-align: center;
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.number-box {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #FF00FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.5);
}

#draw-numbers {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    color: white;
    text-align: left;
    font-weight: 600;
}

input {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: black;
}

#errorMessage {
    display: none;
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

a {
    color: #FF00C4;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 12px;
    background: #281886;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 0 0 10px #B700FF, 0px 5px 0px #B700FF;
}

button:hover {
    background: #FF00FF;
}

.crtAcct {
    display: block;
    font-size: 14px;
    margin-left: 60px;
    margin-bottom: 60px;
}


@media screen and (max-width: 599px) {

    #prize-box{
        width: 90%;
        position: fixed;
        top: 36%;
        left: 50%;
        padding: 0%;
    
    }

    #loginPage{
        border-radius: 5%;
        left: 0%;
        width: 90%;
        position: relative;
        top: 20%;
        height: 55%;
    }


    .form-login{
        width: 90%;
        position: relative;
        top: -5%;
    
    }

    .ball-container{
        height: 23%;
        width: 90%;
        top: 20%;
        left: 50%;
        padding: 0%;
        border-radius: 5%
    
    }
    
    #draw-numbers{
        width: 100%;
        height: auto;
        gap: 0%;
        margin-top: 0%;
    }

    .number-box{
        font-size: x-large;
            
        width: 20%;
        margin: 1%;
        height: 100%;    }

    #time{
        font-size: none;
    }
    
    
    #logintext{
        font-size: 32px;
        margin-top: 28%;
        margin-bottom: 0%;
    }
    input{
        width: auto;
    }
    
    .crtAcct{
        margin-left: 0%;
    }
}

/* Tablet (600px to 899px) */
@media screen and (min-width: 600px) and (max-width: 899px) {

    #loginPage{
        left: 55%;
        height: 73%;
        position: fixed;
        top: 20%;
        width: 40%;
    }


    .form-login{
        width: 90%;   
    }

    .ball-container{
        width: 45%;
        padding: 0%;
        height: 25%;      
    
    }
    
    #draw-numbers{
        width: 90%;
        height: auto;
        gap: 5%;
        margin-top: 0%;  
    }

    
    input{
        width: auto;
    }
    
    .crtAcct{
        margin: 0%;
       
    }

    #prize-box{
        width: 40%;
        position: fixed;
    }
   
}

/* Desktop (900px and above) */
@media screen and (min-width: 900px) {

    #loginPage {
        position: fixed;
        left: 55%;
        width: 35%;
        transition: all 0.3s ease-in-out;
    }
    

    .form-login{
        width: 90%;
    }

    input{
        width: auto;
    }

    .crtAcct{
        margin: 0%;
    }

    
   
}




