.panalotto-container {
    margin: 20px auto;
    max-width: 800px;
}

#panalotto-title {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFEA00;
    text-shadow:  
        0px 5px 4px #FF7700;
    font-size: 20px;
}

#draw-timer-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
    font-size: 18px;
    color: #FF1493;
}

#number-input-section {
    margin-top: 20px;
}

.number-input-label {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFEA00;
}

#number-boxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.number-box {
    width: 50px;
    height: 50px;
    background: #1E1E99;
    border-radius: 10px;
}

.action-buttons {
    margin-top: 10px;
}

.btn-action {
    background: purple;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

#bet-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.bet-input-box, .balance-box, .prize-box {
    background: #1E1E99;
    padding: 10px;
    border-radius: 10px;
}

#prize-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#prize-image {
    width: 30px;
    height: 30px;
}
